:root{
  --white: #fff;
  --black: #000;

  --zinc-100: #f4f4f5;
  --zinc-500: #27272a;
  --zinc-800: #71717a;
  --zinc-900: #18181b;

  --emerald-600:  #059669;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
}